/* 
    Document   : layout
    Created on : Apr 1, 2011, 11:09:58 PM
    Author     : gabriel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background-color: black;
    color: white;
}

.bottomText {
    position: absolute;
    bottom: 50px;
}

.transparent {
    opacity: 0;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
}

.menuItem {
    float: left;
    padding-right: 20px;
}

#topTitle {
}

#topMenu {
    float: right;
}