/* 
    Document   : layout
    Created on : Apr 1, 2011, 11:09:58 PM
    Author     : gabriel
    Description:
        Purpose of the stylesheet follows.
*/

a:link {color: white; text-decoration: none; }
a:active {color: white; text-decoration: none; }
a:visited {color: white; text-decoration: none; }
a:hover {color: white; text-decoration: underline; }

root { 
    display: block;
}

body {
    background-color: black;
    color: white;
}

.bottomText {
    position: absolute;
    bottom: 50px;
}

.transparent {
    opacity: 0;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
}

.menuItem {
    float: left;
    padding-right: 20px;
}

#topTitle {
}

#topMenu {
    float: right;
}

.overlayInner {
    position: relative;
    background-color: white;
    color: black;
    padding: 0px 10px 10px 10px;
}

.closeParentDiv {
    right: 0px;
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-image: url('/images/stop.gif');
    background-repeat: no-repeat;
}

.formBar {
    color: darkblue;
    background-color: skyblue;
    padding: 3px 5px 2px 5px;
    border-bottom: 1px black solid;
}

.overlayOuter{
    z-index: 1000;
    width: 200px;
    position: absolute;
    background-color: white;
    color: black;
    right: 10px;
    top: 50px;
}

.formError {
    background-color: indianred;
}

.formSuccess {
    background-color: greenyellow;
}

.msgDiv {
    padding: 0px 5px 5px 5px;
    font-size: 70%;
    font-family: "Courier New", Courier, monospace;
}